/*------------------------------------*\
  #HEADER STYLES
\*------------------------------------*/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: rem(40px);
    h1 {
        font-size: rem(35px);
        text-transform: uppercase;
    }
    ul {
        display: flex;
        li {
            margin-right: 1rem;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}