/*------------------------------------*\
  #HOMEPAGE STYLES
\*------------------------------------*/

.container {
  #typedtext {
    font-family: 'aucznik_1303_plusregular';
    font-size: rem(75px);
    color: #000;
  }
}