/*------------------------------------*\
  #HOMEPAGE STYLES
\*------------------------------------*/

.container {
	flex-grow: 1;
	@include breakpoint (tablet) {
		padding: 2.5rem 1rem;
	}
  #typedtext {
  	padding: rem(40px 0);
  	@include breakpoint (tablet) {
		padding: rem(20px 0);
	}
  	h1 {
	    font-family: 'aucznik_1303_plusregular';
	    font-size: rem(35px);
	    color: #000;
		margin-bottom: 15px;
	    @include breakpoint (tablet) {
			font-size: rem(45px);
	    }
	    @include breakpoint (phone) {
			font-size: rem(30px);
	    }
	    a {
	    	color: lightblue;
	    }
	    span {
	    	display: block;
	    }
	}
	p {
		font-size: rem(25px)
	}
  }
}